strict-peer-dependencies=true
auto-install-peers=false
frozen-lockfile=true
shamefully-hoist=false
symlink=true
prefer-workspace-packages=true
registry=https://registry.npmjs.org/
ignore-scripts=false
